h2 din sida 
<form>
<input type="radio" id="1" name="aries" value="aries">
<label for="aries">vädur</label><br>

<input type="radio" id="2" name="taurus" value="taurus">
<label for="taurus">oxe</label><br>

<input type="radio" id="3" name="gemini" value="gemini">
<label for="gemini">tvilling</label><br>

<input type="radio" id="4" name="cancer" value="cancer">
<label for="cancer">kräfta</label><br>

<input type="radio" id="5" name="leo" value="leo">
<label for="leo">lejon</label><br>

<input type="radio" id="6" name="virgo" value="virgo">
<label for="virgo">jungfru</label><br>

<input type="radio" id="7" name="libra" value="libra">
<label for="libra">våg</label><br>

<input type="radio" id="8" name="scorpio" value="scorpio">
<label for="scorpio">skorpinion</label><br>

<input type="radio" id="9" name="sagittarius" value="sagittarius">
<label for="sagittarius">skytt</label><br>

<input type="radio" id="10" name="capricorn" value="capricorn">
<label for="capricon">stenbock</label><br>

<input type="radio" id="11" name="aquarius" value="aquarius">
<label for="aquarius">vattumannen</label><br>

<input type="radio" id="12" name="pisces" value="pisces">
<label for="pisces">fisk</label></form>




